.header {
    margin-bottom: 50px;
}

.section-header {
    margin-top: 15px;
    font-size: 1.4rem;
    display: block;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: $oceanBlue;
    color: $warmWhite;
    border: none;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        text-decoration: none;
        background-color: $lightBlue;
        color: $warmWhite;
    }
}

.link-button,
button.link-button {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 25px;
    background-color: $khaki;
    color: $warmWhite;
    border: none;

    &:hover {
        text-decoration: none;
        background-color: $lightBlue;
        color: $warmWhite;
    }
}

.info-message {
    color: $lightBlue;
}

.error-message {
    color: $oceanBlue;
}

.detail-label {
    font-weight: bold;
}

.administration-information {
    margin-top: 25px;
    color: $lightBlue;

    .info-label {
        font-weight: bold;
    }
}

.listing-wrapper {
    width: 100%;

    .header-element {
        margin-bottom: 25px;
        font-size: 1.5rem;
        display: grid;
    }
}

.listing {
    display: grid;
    font-size: 1rem;
    border-top: 1px solid $oceanBlue;
}