.section-header {
    font-size: 1.4rem;
}

.link-button,
button.link-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: $khaki;
    color: $warmWhite;
    border: none;

    &:hover {
        text-decoration: none;
        background-color: $lightBlue;
        color: $warmWhite;
    }
}

.info-message {
    color: $lightBlue;
}

.error-message {
    color: $oceanBlue;
}