.welcome-body {
    background: url('../img/yacht-background.jpg');
    background-size: cover;

    .welcome-content {
        margin-top: 30vh;

        .app-name {
            width: 100%;
            text-align: center;
            color: white;
            font-size: 4rem;
        }

        .login-button-wrapper {
            display: flex;
            justify-content: center;

            .login-button.link-button {
                margin-top: 2vh;
            }
        }
    }
}

.link-button,
button.link-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: $khaki;
    color: $warmWhite;
    border: none;

    &:hover {
        text-decoration: none;
        background-color: $lightBlue;
        color: $warmWhite;
    }
}