.filters-wrapper {
    display: grid;
    justify-content: end;

    h5 {
        margin: 0;
    }

    .button {
        text-align: center;
    }
}

.history-header-wrapper {
    .button {
        margin-bottom: 25px;
    }

    .header {
        margin: 25px 0; 
    }
}

.listing-element {
    margin-top: 25px;

    .history-listing  {
        border-top: none;
        grid-template-columns: 25% 25% 25% 25%;

        span {
            padding: 2px;
        }

        .listing-column {
            border: 1px solid $lightBlue;
            margin-right: -1px;
        }
    }
}
