.marina-diagram {
    .home-date-filter {
        display: flex;
        margin-bottom: 50px;

        .filter-label {
            margin-bottom: 0;
        }

        .today-button {
            margin-left: 15px;
        }
    }

    .diagram-legend {
        display: flex;
        justify-content: end;
        margin-bottom: 75px;
        margin-top: -75px;

        .item {
            margin-right: 25px;
            display: flex;

            .color {
                display: block;
                width: 25px;
                height: 25px;
                border: 2px solid $oceanBlue;
                margin-right: 10px;
    
                &.default {
                    background-color: transparent;
                }
    
                &.inactive {
                    background-color: $burgund;
                }
    
                &.busy {
                    background-color: $blue;
                }
    
                &.reservated {
                    background-color: $lightBlue;
                }
            }
        }
    }

    .pier-label-wrapper {
        width: 100%; 
        background-color: $oceanBlue;

        .pier-label {
            color: $warmWhite;
            font-weight: 900;
            font-size: 1.3rem;
            margin-left: 20px;
        }
    }

    .single-pier {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .place-tile {
            display: flex;
            justify-content: center;
            width: 60px;
            height: 70px;
            border: 2px solid $oceanBlue;
            margin-right: -2px;

            a {
                color: $warmWhite;
                font-weight: 600;
                font-size: 1.2rem;
                text-decoration: none;
            }

            &.default {
                background-color: transparent;

                a {
                    color: $oceanBlue;
                }
            }

            &.inactive {
                background-color: $burgund;
            }

            &.busy {
                background-color: $blue;
            }

            &.reservated {
                background-color: $lightBlue;
            }
            
        }
    }
}