.listing-wrapper {
    width: 100%;

    .places-listing  {
        display: grid;
        grid-template-columns: 30% 30% 40%;
        font-size: 1rem;

        &.header-element {
            font-size: 1.5rem;
        }
    }
}

.details-wrapper {
   width: 30%;
   font-size: 1rem;

   .action-buttons {
       display: flex;
       justify-content: space-between;
       margin-top: 20px;
   }
}