.listing-wrapper {
    width: 100%;

    .places-listing  {
        display: grid;
        grid-template-columns: 30% 30% 40%;
        font-size: 1rem;

        &.header-element {
            font-size: 1.5rem;
        }
    }
}

.details-wrapper {
   font-size: 1rem;

   .action-buttons {
       margin-top: 20px;
       margin-: 10px;
   }
}