.traffic-listing  {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.traffic-listing-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 25px 0;

    .traffic-section-header {
        display: block;
        margin-bottom: 0;
    }

    .button {
        margin-top: 0;
    }
}

.action-buttons {
    margin-top: 25px;
}
