// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$warmWhite: #F7F9FB;
$lightBlue: #8FC1E3;
$blue: #5085A5;
$oceanBlue: #31708E;
$khaki: #687864;
